html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
.my-jumbotron{
  background-color: #00ff02;
  color: Blue;
  padding-top: 32px;
  padding-bottom: 32px;
}

.sim-canvas {
  border: 1px solid black;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.sim-column {
  padding-bottom: 30px;
  text-align: center;
}
